body{
	padding: 0;
	margin: 0;
	background-color: #e8e8e8;
}
nav{
	background-color: #651fff;
	height: 100px;
	align-items: center;
}
#h1-nav{
	color:#b2ebf2;
	padding-bottom: 10px;
}
hr{
	background-color: #81d4fa;
	height: 2px;
}
#inputt{
  color: #004d40;
}
#contenedor{
	background-color: white;
}
#agregar{
	border-radius: 5px;
	background-color: #40c4ff;
	margin-top: 10px;
	border-style: none;
	padding:10px;
	width: 100px;
	margin-left: 20px;
}